---
import { Image } from "astro:assets";

interface Props {
  src: any;
  alt: string;
  caption?: string;
  class?: string;
}

const {
  src,
  alt,
  caption,
  class: className,
} = Astro.props;
---

<figure class={`project-figure ${className || ""}`}>
  <a href={src.src}>
    <Image
      src={src}
      alt={alt}
      format="webp"
    />
  </a>

  {caption && (
    <figcaption>
      {caption}
    </figcaption>
  )}
</figure>

<!-- USAGE
 
<ProjectFigure
  src={nycLogo}
  class="figure-under-heading"
  alt="NYC Logo"
  caption="NYC Logo - Wolff Olins"
/>

-->