---
import { getCollection, render, type CollectionEntry } from "astro:content";
import MainLayout from "../../layouts/mainlayout.astro";
import PageSection from "../../components/PageSection.astro";
import { Image } from "astro:assets";
import References from "../../components/References.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project: CollectionEntry<"projects">) => ({
    params: { slug: project.id },

    props: { project },
  }));
}

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props as Props;

// New Astro content API uses render(project)
const { Content } = await render(project);

const slug = project.id;

const featuredImage = await import(
  `../../content/projects/${slug}/featured.webp`
);
---

<MainLayout
  id="top"
  title={`${project.data.plainTitle} | Alex Hordal`}
  isHome={false}>
  <div class={`page-grid ${project.data.layoutClass || ""}`}>
    <!-- Left Column -->
    <aside class="page-title-column">
      <h1 set:html={project.data.title} />

      <p class="page-description">
        {project.data.description}
      </p>

      <div class="page-section">
        <a href={featuredImage.default.src}>
          <Image
            src={featuredImage.default}
            alt={`Hero image for ${project.data.title}`}
            width={1000}
            format="webp"
          />
        </a>
        {
          project.data.downloadFile && (
            <p>
              <a href={project.data.downloadFile}>
                {project.data.downloadLabel || "Download Project File"}
              </a>
            </p>
          )
        }
      </div>
    </aside>

    <!-- Right Column -->
    <section class="page-content-column">
      <PageSection
       title={`<i class="fa-solid fa-circle-info"></i> About the Project`} id="about">
        <div>
        
          <Content />
        </div>
      </PageSection>
      
      {
        project.data.references && (
          <References references={project.data.references} />
        )
      }
    <PageSection
  title={`<i class="fa-solid fa-microchip section-icon"></i> Technology Stack`}
  id="stack"
>
  <ul class={`list ${project.data.listClass || ""}`}>
    {project.data.technologies.map((tech) => <li>{tech}</li>)}
  </ul>
</PageSection>
      <PageSection title={`<i class="fa-solid fa-screwdriver"></i> Applied Skills`} id="applied-skills">
        
        <ul class="list-justified">
          {project.data.appliedSkills?.map((skill) => <li>{skill}</li>)}
        </ul>
      </PageSection>

      <a href="#top" class="back-to-top"> ↑ Back to top </a>
    </section>
    <!-- Additional Experience & Training -->
  </div>
</MainLayout>
